{% extends 'base.html.twig' %}

{% block title %}New Khateeb{% endblock %}

{% block body %}
    <h1>Create new Khateeb</h1>

    {{ include('khateeb/_form.html.twig') }}

    <a href="{{ path('app_khateeb_index') }}">back to list</a>
{% endblock %}
